#make_game {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#make_game h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

#make_game input[type='text'] {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    margin-bottom: 20px;
    border: 2px solid #888; /* Darker border color */
    border-radius: 5px;
    background-color: #fff; /* Ensures contrast with the border */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Adds slight shadow */
}

#make_game input[type='text']:focus {
    border-color: #4CAF50; /* Highlighted green border on focus */
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 128, 0, 0.2); /* Slightly stronger shadow on focus */
}


#make_game p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

#make_game button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

#make_game button:hover {
    background-color: #45a049;
}

#txtGameId {
    width: 80%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}
